html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.dark, .light { 
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container fills the viewport */
}

main {
  flex-grow: 1;
  display: flex
;
  flex-direction: column;
  align-items: center;
  background-color: lavender;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: center;
}

.dark {
  color: white;
  background: black;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
  button {
    background: white;
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .projectCard{
    background: darkorchid;
  }
}

.light {
  color: black;
  background: white;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
  button {
    background: black;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
/* .dark{

} */

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projectCard {
  width: 300px;
  padding: 15px;
  border-radius: 8px;
  background: mediumpurple;
  text-align: center;
}

div {
  text-align: center;
}

main {
  padding-bottom: 3em;
}

main > section {
  padding: 1.2em;
}

header {
  padding-bottom: 1.5em;
}